<!DOCTYPE html>
<html>
<style>


body {
   
}
.button {
    background-color: red;
    border: none;
    color: WHITE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table, th , td  {
  border: 1px solid #e8e3e3;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body >

<div data-ng-app="myApp" data-ng-controller="productController">

<div style="text-align:right">
<h3><p style="font-family:Apple Chancery;font-size:30px"><b>Welcome<b></b></p> </h3>
<a href="/index.html"></a>
</div>

<center><h1><img src="imagesGap/gap.jpg"  width="120" height="130" style="vertical-align: right;"/></h1></center>
<center>

<table style="border-color:#efeded" class="table table-striped table-condensed table-hover">
<tr>
<th></th>
<th>PRODUCT</th>
<th>NAME</th>

<th>PRICE</th>
<th>DESCRIPTION</th>

</tr>
<tr data-ng-repeat="product in names">
  <td><input type="checkbox" value="" ng-model=""></td>
  <td>
  	<div>
    <img src="images/{{product.imagename}}"  width="120" height="130" style="vertical-align: middle;"/>
    
    </div>
     <td>{{product.name}}</td>  
  </td>
  
  
  <td> 
     {{product.price}}
  </td>
  <td> 
     {{product.description}}
  </td>
  </td>
 
</tr>
</table>
</center>
</br></br>

<div align="right">
<button class="button" data-ng-click="">ADD TO CART</button>
</div>
  </center>
 
<script>
var app = angular.module('myApp', []);
app.controller('productController',function($scope, $http) {
	$scope.selectedItems = [];
	
	$http.get("http://localhost:8080/product/fetch")
  	.success(function(response) {
  		$scope.names = response;
  		angular.forEach($scope.names, function(name) {
  			
  			
  		})
  	});
  
    
	
	
	
	$scope.redirect = function(){
		
	angular.forEach($scope.names, function(name) {
		
		if(name.isSelected) {
			
			$scope.selectedItems.push(name);
		
			
		}
	});

	//sessionStorage.setItem("SelectedItems", JSON.stringify($scope.selectedItems));
	//sessionStorage.setItem("quantity", JSON.stringify($scope.quantity));
	
	
	
	// $location.url('example.html');
	 window.location = "order.html";
}

});

</script>

</body>
</html>
